<p>Hi <%= @user.email %>, </p>
	<p>You have been registered on Eventify. Your login details are, </p> <br>
	<p>Username : <%= @user.email %></p> <br>
	<p>Password : <%= @user.password %></p> <br>
<p>Regards,<br/>     <b>Aman Sharma</b>
				<i>CSE 6th SEM Third Year</i>
</p>
