
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0);
}

/* Add some padding inside the card container 
.card-padding {
    padding: 2px 10px;
}
*/


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
    color: #000000;
    font-weight: bold;
    /*text-shadow: 0.25px 0.25px #07A0C3;*/

   }

.navbar-brand {
	padding: 0;
}

.navbar-brand > img {
    
    width: 200px;
}

ul.nav a:hover { 
    color: #000000 !important; 
}

.top-wrap {
    background: #008CBA;
    padding-top: 70px;
}

.button {
  border-radius: 4px;
  background-color: #f44336;
  border: 2px;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* blue - #086788 
    red- DD1C1A
*/